# Week 5 - Exercise
### Notebook created by Jonathan Penava

In general penguins are not sexually dimorphic.  This means that both males and females look alike.  Usually you can tell the difference between males and females by measuring various parts of the penguin like their bill size, their weight, and flipper length.  Getting the exact sex of the penguin by checking genitals can be difficult, and harmful to the animal if not done carefully by someone who is trained.  
<br><br>
In this exercise you are going to read in a set of data about penguin measurements from the seaborn library.  Train a decision tree algorithm to determine if the penguin is male or female.  You will have to analyze the data and determine how to adjust the values accordingly.  I have provided a few lines of code to get you started.
<br><br>
Print the classification report at the end to show how accurate your model is.

Do not drop any columns from your dataset.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

penguins = sns.load_dataset('penguins')

# #Uncomment these one at a time to get their info
penguins["species"].unique()
# penguins["island"].unique()
# penguins["sex"].unique()

array(['Adelie', 'Chinstrap', 'Gentoo'], dtype=object)

In [ ]:
penguins.head(25)

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female
5,Adelie,Torgersen,39.3,20.6,190.0,3650.0,Male
6,Adelie,Torgersen,38.9,17.8,181.0,3625.0,Female
7,Adelie,Torgersen,39.2,19.6,195.0,4675.0,Male
8,Adelie,Torgersen,34.1,18.1,193.0,3475.0,NaN
9,Adelie,Torgersen,42.0,20.2,190.0,4250.0,NaN
10,Adelie,Torgersen,37.8,17.1,186.0,3300.0,NaN
11,Adelie,Torgersen,37.8,17.3,180.0,3700.0,NaN
12,Adelie,Torgersen,41.1,17.6,182.0,3200.0,Female
13,Adelie,Torgersen,38.6,21.2,191.0,3800.0,Male
14,Adelie,Torgersen,34.6,21.1,198.0,4400.0,Male
15,Adelie,Torgersen,36.6,17.8,185.0,3700.0,Female
16,Adelie,Torgersen,38.7,19.0,195.0,3450.0,Female
17,Adelie,Torgersen,42.5,20.7,197.0,4500.0,Male
18,Adelie,Torgersen,34.4,18.4,184.0,3325.0,Female
19,Adelie,Torgersen,46.0,21.5,194.0,4200.0,Male
20,Adelie,Biscoe,37.8,18.3,174.0,3400.0,Female
21,Adelie,Biscoe,37.7,18.7,180.0,3600.0,Male
22,Adelie,Biscoe,35.9,19.2,189.0,3800.0,Female
23,Adelie,Biscoe,38.2,18.1,185.0,3950.0,Male
24,Adelie,Biscoe,38.8,17.2,180.0,3800.0,Male

In [3]:
penguins.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            344 non-null    object
 1   island             344 non-null    object
 2   bill_length_mm     342 non-null    float64
 3   bill_depth_mm      342 non-null    float64
 4   flipper_length_mm  342 non-null    float64
 5   body_mass_g        342 non-null    float64
 6   sex                333 non-null    object
dtypes: float64(4), object(3)
memory usage: 18.9+ KB

In [4]:
penguins.replace('Male', 0, inplace=True)
penguins.replace('Female', 1, inplace=True)

penguins.replace('Adelie', 0, inplace=True)
penguins.replace('Chinstrap', 1, inplace=True)
penguins.replace('Gentoo', 1, inplace=True)

penguins.replace('Torgersen', 0, inplace=True)
penguins.replace('Biscoe', 1, inplace=True)
penguins.replace('Dream', 1, inplace=True)

penguins.dropna(axis=0, inplace=True)

C:\Users\shree\AppData\Local\Temp\ipykernel_10824\4112837129.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  penguins.replace('Female', 1, inplace=True)
C:\Users\shree\AppData\Local\Temp\ipykernel_10824\4112837129.py:6: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  penguins.replace('Gentoo', 1, inplace=True)
C:\Users\shree\AppData\Local\Temp\ipykernel_10824\4112837129.py:10: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  penguins.replace('Dream', 1, inplace=True)

In [5]:
penguins.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,0,0,39.1,18.7,181.0,3750.0,0.0
1,0,0,39.5,17.4,186.0,3800.0,1.0
2,0,0,40.3,18.0,195.0,3250.0,1.0
4,0,0,36.7,19.3,193.0,3450.0,1.0
5,0,0,39.3,20.6,190.0,3650.0,0.0

In [6]:
X, y = penguins.drop('sex', axis=1), penguins['sex'].values

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=87)

In [7]:
from sklearn.tree import DecisionTreeClassifier

dtree = DecisionTreeClassifier()
dtree.fit(X_train,y_train)

predictions = dtree.predict(X_test)

from sklearn.metrics import classification_report


print(classification_report(y_test,predictions))

              precision    recall  f1-score   support

         0.0       0.87      0.85      0.86        53
         1.0       0.83      0.85      0.84        47

    accuracy                           0.85       100
   macro avg       0.85      0.85      0.85       100
weighted avg       0.85      0.85      0.85       100